<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">Add recipe</button>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-xs-12"> 
        <a href="#" class="list-group-item clearfix" *ngFor = "let recipe of recipes" style="margin-bottom: 20px;" >
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{recipe.name}}</h4>
                <h4 class="list-group-item-text">{{recipe.description}}</h4>
            </div>
            <span class="pull-right">
                <img [src] = "recipe.imgPath" class="img-responsive" style="max-height: 50px;" />
            </span>
        </a>
    </div>
</div>

<app-recipe-item></app-recipe-item>
